@model PageList<Alumni_Member>
@{
    string Controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = action;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Alumni_Member_Filter MF = ViewData["MF"] as Alumni_Member_Filter;
}
<partial name="_SubMenu" />
<script>Change_Top_Menu('校友验证')</script>

<form id="MyForm" action="~/@Controller/@action" method="get">
    <table class="Search_Table">
        <tr>
            <td style="width:150px; padding-right:10px;">
                <select class="form-control form-control-sm" name="Status" onchange="SubmitPageIndex(1)">
                    <option value="">身份验证</option>
                    @foreach (var x in Enum.GetNames(typeof(Status_Enum)))
                    {
                        if (MF.Status == x)
                        {
                            <option selected value="@x">@x</option>
                        }
                        else
                        {
                            <option value="@x">@x</option>
                        }
                    }
                </select>
            </td>

            <td style="width:150px; padding-right:10px;">
                <select class="form-control form-control-sm" name="Keyword_Faculty" onchange="SubmitPageIndex(1)">
                    <option value="">毕业院系</option>
                    @foreach (var x in MF.Faculty_List)
                    {
                        if (MF.Keyword_Faculty == x)
                        {
                            <option selected value="@x">@x</option>
                        }
                        else
                        {
                            <option value="@x">@x</option>
                        }
                    }
                </select>
            </td>

            <td style="width:200px; padding-right:0;">
                <input class="form-control form-control-sm" style="border-top-right-radius:0px; border-bottom-right-radius:0px;" name="Keyword_Name" id="Keyword_Name" value="@MF.Keyword_Name" placeholder="校友姓名关键词" />
            </td>
            <td style="width:50px; padding-left:0px;">
                <button class="btn btn-danger btn-sm Search-Btn" style="border-top-left-radius:0px; border-bottom-left-radius:0px;" type="submit"><i class="icon-search"></i> 搜索</button>
            </td>
            <td>
                <input type="hidden" name="PageIndex" id="PageIndex" class="PageIndex" value="" />
            </td>
        </tr>
    </table>
</form>

<table id="DataTable" class="ListTable text-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:5px;">&nbsp;</th>
            <th style="width:80px;">@Html.DisplayNameFor(m => m.Rows.FirstOrDefault().Member_Name)</th>
            <th style="width:60px; text-align:center;">性别</th>
            <th style="width:120px;">@Html.DisplayNameFor(m => m.Rows.FirstOrDefault().Mobile)</th>
            <th style="width:80px;">@Html.DisplayNameFor(m => m.Rows.FirstOrDefault().Year)</th>
            <th style="width:80px;">@Html.DisplayNameFor(m => m.Rows.FirstOrDefault().Degree)</th>
            <th style="width:150px;">@Html.DisplayNameFor(m => m.Rows.FirstOrDefault().Faculty)</th>
            <th style="width:150px;">当前居住地</th>
            <th style="width:100px;">注册时间</th>
            <th style="width:80px;">身份验证</th>
            <th style="width:60px; text-align:center;">&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top;">@x.Member_Name</td>
                <td style="text-align:center; vertical-align:top;">@x.Gender</td>
                <td style="vertical-align:top;">@x.Mobile</td>
                <td style="vertical-align:top;">@x.Year</td>
                <td style="vertical-align:top;">@x.Degree</td>
                <td style="vertical-align:top;">@x.Faculty</td>
                <td style="vertical-align:top;">
                    <span>@x.Province @x.City </span>
                    @if (!string.IsNullOrEmpty(x.District))
                    {<span>@x.District</span>}
                </td>
                <td style="vertical-align:top;">@x.Create_DT.ToString("yyyy-MM-dd")</td>
                @if (x.Status == Status_Enum.待认证.ToString())
                {
                    <td style="vertical-align:top; color:red">@x.Status</td>
                    <td style="text-align:center; vertical-align:top;"><button type="button" onclick="Change_Status(this,'@x.AMID')" class="btn btn-info btn-xs">通过</button></td>
                }
                else
                {
                    <td style="vertical-align:top; color:forestgreen">@x.Status</td>
                    <td style="text-align:center; vertical-align:top;"><button type="button" onclick="Change_Status(this,'@x.AMID')" class="btn btn-danger btn-xs">撤销</button></td>
                }
                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Component/Page_DIV.cshtml" model="new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, PageSizeList = Model.PageSize.ToString() }" />

<form id="Form_Status_ID" action="/@Controller/Verify_Post" method="post"></form>
<script>
    function Change_Status(Btn_Obj, AMID) {
        if (confirm("确认修改？") == false) { return fales;}
        $("#Form_Status_ID").attr("action", "/@Controller/Verify_Post/" + AMID);
        Ajax_Form_Reload('Form_Status_ID',Btn_Obj)
    }
</script>



